<div class="d-flex justify-content-center">
<h1>Welcome to Perfect Audience Notes, <%=@current_user.name%>.</h1>
</div>

<div class="d-flex justify-content-center">
  <form action="/" method="get">

    <input type="text" class="form-control-inline" name="search-terms" id="search-terms">
    <label for="search-terms">Search:</label>

    <div class= "form-check form-check-inline">
      <input class="form-check-input" type="radio" name="search-option" id="title" value="title" checked>
      <label class="form-check-label" for="title">Title</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="search-option" id="content" value="content">
      <label class="form-check-label" for="content">Content</label>
    </div>
    <button type="submit" >Submit</button>
  </form>

  <form action="/clear-search" method="get">
      <button style="margin-left: 1em" type="submit">Clear Search</button>
  </form>
</div>

<div class="flex-container notes">
  <% @notes.each_slice(3) do |chunk| %>
    <div class="row justify-content-center">
      <% chunk.each do |note| %>
        <div class="card col-sm-6 col-md-6 col-lg-3">
          <h2 class="card-title text-center"><%= note.title %></h2>
          <p class="card-text"> <%= note.content %> </p>
          <div class="card-body text-center">
            <%= link_to 'Edit', edit_note_path(note) %> |
            <%= link_to 'Delete', note_path(note), data: { confirm: 'Are you sure?' }, method: :delete %> |
            <a href="/send_note/<%=note.id%>">Send Note</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last Edited:<%=note.updated_at%> </small>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>