<div class="d-flex justify-content-center text-center">
  <h1> New Note </h1>
</div>

<div class="d-flex justify-content-center text-center">
  <% if !flash[:alert].nil? %> 
    <div class= "alert alert-danger">
    <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center text-center">
  <%= form_for @note do |f| %>
      <%=f.label :title %><br>
      <%=f.text_field :title %><br>

      <%=f.label :content %><br>
      <%=f.text_area :content %><br>

      <%=f.submit "Submit"%>
  <% end %>
</div>