<h1 >Welcome to Perfect Audience Notes, <%=@current_user.username%>.</h1>

<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

<div class="container-fluid">
  <% @notes.each_slice(3) do |chunk| %>
    <div class="row justify-content-center gx-2 gy-2 ">
      <% chunk.each do |note| %>
        <div class="col-sm-6 col-lg-4">
          <h2> Note #<%= note.title %></h2>
          <%= note.content %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Delete', note_path(note), data: { confirm: 'Are you sure?' }, method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>