<div class="d-flex justify-content-center text-center">

<h1> New User </h1>

</div>

<div class="d-flex justify-content-center text-center">

<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

</div>

<div class="d-flex justify-content-center text-center">

<%= form_for @user do |f| %>
    <%=f.label :name %><br>
    <%=f.text_field :name %><br>

    <%=f.label :email %><br>
    <%=f.email_field :email %><br>

    <%=f.label :password %><br>
    <%=f.password_field :password %><br>
    
    <%=f.label :password_confirmation %><br>
    <%=f.password_field :password_confirmation %><br>

    <%=f.submit "Submit"%>
<% end %>

</div>